<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


{% for person in people %}
<div>
    <b>Имя:</b>
    <span>{{ person.first_name }}</span>
</div>
<div>
    <b>Фамилия:</b>
    <span>{{ person.last_name }}</span>
</div>
<div>
    <b>Возраст:</b>
    <span>{{ person.age }}</span>
</div>
<hr>
{% endfor %}



{% comment %} 
    <h1>Данные</h1>

    <div>
        <b>Имя:</b>
        <span>{{ first_name }}</span>
    </div>
    <div>
        <b>Фамилия:</b>
        <span>{{ last_name }}</span>
    </div>
    <div>
        <b>Возраст:</b>
        <span>{{ age }}</span>
    </div>
    <div>
        <b>Оценки:</b>
        <ul>
            {% for mark in marks %}
            <li>{{ mark }}</li>
            {% endfor %}
        </ul>
    </div>
     {% endcomment %}


</body>

</html>